<script setup lang="ts">
useSeoMeta({
  description: 'My name is Romaine Murray and I am a full stack developer. I am passionate about creating beautiful and functional websites and applications. I am proficient in HTML, CSS, JavaScript, React, Vue, Node.js, Express, MongoDB, and more. I am currently seeking a full-time position as a developer.',
  ogDescription: 'My name is Romaine Murray and I am a full stack developer. I am passionate about creating beautiful and functional websites and applications. I am proficient in HTML, CSS, JavaScript, React, Vue, Node.js, Express, MongoDB, and more. I am currently seeking a full-time position as a developer.',
  ogImage: 'https://romainemurray.vercel.app/favicon.webp/',
  ogUrl: 'https://romainemurray.vercel.app',
  twitterTitle: 'Romaine Murray | My Portfolio',
  twitterDescription: 'My name is Romaine Murray and I am a full stack developer. I am passionate about creating beautiful and functional websites and applications. I am proficient in HTML, CSS, JavaScript, React, Vue, Node.js, Express, MongoDB, and more. I am currently seeking a full-time position as a developer.',
  twitterImage: 'https://romainemurray.vercel.app/favicon.webp/',
  twitterCard: 'summary_large_image',
},);
</script>

<template>
  <div class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0">
    <a
      href="#content"
      class="absolute left-0 top-0 block -translate-x-full rounded bg-gradient-to-br from-teal-400 via-blue-500 to-purple-600 px-4 py-3 text-sm font-bold uppercase tracking-widest text-white focus-visible:translate-x-0"
    >Skip
      to Content</a>
    <NuxtPage class="lg:flex lg:justify-between lg:gap-4" />
  </div>
</template>
