<template>
  <section
    id="about"
    class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  >
    <div
      class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
    >
      <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">
        About
      </h2>
    </div>
    <div>
      <p
        v-for="content, index of contents"
        :key="index"
        class="mb-4"
        v-html="content"
      />
    </div>
  </section>
</template>

<script lang="ts" setup>
const contents = [
  `Hey, there! I am Romaine, a full stack engineer with four years of experience. 
            My foray into web programming began when I chose to take a course for extra credit, 
            and I immediately became fascinated by the entire process of creating web apps, from the fun and quirky to the practical and useful.`,
  `Currently, my primary concentration is on two key areas:
                        creating accessible user interfaces for our clients at
                        <a class='font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300' target='_blank' href='https://knightfoxapps.com'>Knightfox App Design</a> 
                        and managing the IT infrastructure
                        at <a class='font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300' target='_blank' href='https://aeontsolutions.com'>Aeon Technology Solutions</a>. I get a lot of
                        satisfaction from building software that smoothly
                        combines design and engineering, ensuring that things
                        not only appear excellent but also work perfectly
                        beneath the hood. In my leisure time, I've taken on the
                        challenge of learning new programming languages and
                        creating engaging projects using them.`,
  `When I'm not working on the computer, I enjoy going for
                        a walk in my neighbourhood, reading a book, or watching
                        one of my favourite shows. I am always searching for new
                        possibilities to learn and grow. If you have a project
                        you'd like to explore, please 
                        <a class='font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300' href='mailto:romainemurray6@gmail.com'>contact me</a>.`,
];
</script>
