<template>
  <header
    class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
  >
    <div>
      <h1
        class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl"
      >
        <NuxtLink to="/">
          Romaine Murray
        </NuxtLink>
      </h1>
      <h2
        class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl"
      >
        Full Stack Engineer
      </h2>
      <p class="mt-4 max-w-xs leading-normal">
        I build <span class="text-teal-400">beautiful</span>,
        <span class="text-blue-500">functional</span>, and
        <span class="text-purple-600">responsive</span>
        websites and applications.
      </p>
      <nav class="nav hidden lg:block">
        <ul class="mt-16 w-max">
          <li>
            <JumpLink
              to="#about"
              name="About"
            >
              <div class="skeleton w-32 h-32" />
            </JumpLink>
          </li>
          <li>
            <JumpLink
              to="#experience"
              name="Experience"
            />
          </li>
          <li>
            <JumpLink
              to="#projects"
              name="Projects"
            />
          </li>
        </ul>
      </nav>
    </div>
    <ul class="ml-1 mt-8 flex items-center">
      <li
        v-for="link of socialMediaLinks"
        :key="link.icon"
        class="mr-5 text-xs shrink-0"
      >
        <SocialMediaLink :data="link" />
      </li>
    </ul>
  </header>
</template>

<script lang="ts" setup>
const socialMediaLinks = [
  {
    name: 'GitHub',
    icon: 'github',
    href: 'https://github.com/rxmii4269',
  },
  {
    name: 'Gitlab',
    icon: 'gitlab',
    href: 'https://gitlab.com/users/rxmii4269/projects',
  },
  {
    name: 'LinkedIn',
    icon: 'linkedin',
    href: 'https://www.linkedin.com/in/romaine-murray-a497a4194/',
  },
];
</script>
