<template>
  <section
    id="experience"
    class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  >
    <div
      class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
    >
      <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">
        Experience
      </h2>
    </div>
    <div>
      <ol class="group/list">
        <li
          v-for="content, index of contents"
          :key="index"
          class="mb-12"
        >
          <div
            class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
          >
            <div
              class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
            />
            <header
              class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
              :aria-label="content['aria-label']"
            >
              {{ content.period }}
            </header>
            <div class="z-10 sm:col-span-6">
              <h3 class="font-medium leadin-snug text-slate-200">
                <div
                  v-for="(
                    position, idx
                  ) of content.positions"
                  :key="idx"
                >
                  <NuxtLink
                    v-if="idx === 0"
                    class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                    :href="content.companyLink"
                    target="_blank"
                  >
                    <span
                      class="absolute -inset-x-4 -inset-y-2.5 hidden roudned md:-inset-x-6 md:-inset-y-4 lg:block"
                    />
                    <span>
                      {{ position }} ·
                      <span class="inline-flex">
                        {{ content.company }}
                        <span
                          aria-hidden="true"
                          class="self-end i-mdi-arrow-top-right inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                        />
                      </span>
                    </span>
                  </NuxtLink>
                  <div
                    v-else
                    class="text-slate-500"
                    aria-hidden="true"
                  >
                    {{ position }}
                  </div>
                </div>
              </h3>
              <p
                v-for="whatIdo, whatIdoIdx in content['what-i-do']"
                :key="whatIdoIdx"
                class="mt-2 text-sm leading-normal"
              >
                {{ whatIdo }}
              </p>
              <ul
                v-if="content.projects"
                class="mt-2 flex flex-wrap"
              >
                <li
                  v-for="project in content.projects"
                  :key="project.name"
                  class="mr-4"
                >
                  <NuxtLink
                    :href="project.link"
                    target="_blank"
                    class="relative mt-2 inline-flex items-center text-sm font-medium text-slate-300 hover:text-teal-300 focus-visible:text-teal-300"
                  >
                    <span class="i-lucide-link mr-1 h-3 w-3" />
                    <span>{{ project.name }}</span>
                  </NuxtLink>
                </li>
              </ul>
              <ul class="mt-2 flex flex-wrap">
                <li
                  v-for="tech, techIdx in content.techStack"
                  :key="techIdx"
                  class="mr-1.5 mt-2"
                >
                  <div
                    class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                  >
                    {{ tech }}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ol>
      <div class="mt-12">
        <NuxtLink
          class="inline-flex items-baseline leading-tight hover:text-teal-300 focus-visible:text-teal-300 font-semibold text-slate-200 group/link text-base"
          to="/resume.pdf"
          target="_blank"
        >
          View Full
          <span class="inline-flex ml-1">
            Résumé
            <span
              class="i-mdi-arrow-top-right self-end inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
            />
          </span>
        </NuxtLink>
      </div>
    </div>
  </section>
</template>

<script lang="ts" setup>
const contents = [
  {
    period: '2022 - Present',
    'aria-label': '2023 to Present',
    positions: ['Chief Technology Officer (CTO)', 'Head of Engineering',],
    company: 'Aeon Technology Solutions',
    companyLink: 'https://aeontsolutions.com',
    'what-i-do': [
      'Lead the engineering team in the development of software solutions',
      'Manage the IT infrastructure',
      'Ensure the company is up-to-date with the latest technologies',
    ],
    techStack: [
      'JavaScript',
      'TypeScript',
      'React',
      'Nextjs',
      'Vuejs',
      'Nuxtjs',
      'Python',
      'FastAPI',
      'AI/ML Models',
      'LLM',
      'Wordpress',
      'Laravel',
      'PHP',
      'Strapi',
      'Typesense',
      'Flutter',
      'Ionic',
      'PostgreSQL',
      'MySQL',
      'MongoDB',
      'Redis',
      'Docker',
      'Kubernetes',
      'AWS',
      'GCP',
      'Azure',
    ],
    projects: [
      {
        name: 'Company Website',
        link: 'https://aeontsolutions.com',
      },
      {
        name: 'Financial Chatbot',
        link: 'https://jse.aeontsolutions.com',
      },
      {
        name: 'JSE Business Intelligence Tool',
        link: 'https://bi.jamstockex.com',
      },
    ],
  },
  {
    period: '2021 - Present',
    'aria-label': '2021 to Present',
    positions: ['Senior Software Engineer', 'Frontend Engineer',],
    company: 'Knightfox App Design',
    companyLink: 'https://knightfoxapps.com',
    'what-i-do': [
      'Develop accessible user interfaces for clients',
      'Create engaging projects using new programming languages',
      'Ensure software combines design and engineering',
    ],
    techStack: [
      'JavaScript',
      'TypeScript',
      'React',
      'Nextjs',
      'Vuejs',
      'Nuxtjs',
      'AWS',
    ],
    projects: [
      {
        name: 'My Baymac',
        link: 'https://my.baymac.net',
      },
      {
        name: 'Goffah Global',
        link: 'https://www.goffahglobal.com/',
      },
    ],
  },
  {
    period: 'July 2021 - April 2024',
    'aria-label': 'July 2021 to April 2024',
    positions: ['Software Engineer', 'Frontend Engineer',],
    company: 'Speur Professional Services',
    companyLink: 'https://speurgroup.com',
    'what-i-do': [
      'Developed software solutions for clients',
      'Worked on the frontend of projects',
      'Ensured software was accessible and user-friendly',
    ],
    techStack: [
      'JavaScript',
      'TypeScript',
      'Nextjs',
      'React',
      'Vuejs',
      'Java',
      'Spring Boot',
      'Angular',
      'Oracle',
      'GCP',
      'Kubernetes',
      'Octopus Deploy',
      'Flutter',
      'Ionic',
    ],
  },

  {
    period: '2019 - 2021',
    'aria-label': '2019 to 2021',
    positions: ['Junior Software Engineer', 'Content Developer Intern',],
    company: 'One on One Educational Services',
    companyLink: 'https://www.oneononelms.com/',
    'what-i-do': [
      'Developed software solutions for clients',
      'Worked on the frontend of projects',
      'Ensured software was accessible and user-friendly',
    ],
    techStack: [
      'JavaScript',
      'Vuejs',
      'PHP',
      'Laravel',
      'AWS',
      'MySQL',
      'jQuery',
    ],
    projects: [
      {
        name: 'Company Website',
        link: 'https://www.oneononelms.com/',
      },
    ],
  },
];
</script>
