<template>
  <NuxtLink
    :to="to"
    class="group flex items-center py-3"
    :class="computedClasses"
  >
    <span
      class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"
    />
    <span
      class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200"
    >{{
      name }}</span>
  </NuxtLink>
</template>

<script lang="ts" setup>
const route = useRoute();
const props = defineProps({
  to: { type: String, required: true, default: '/', },
  name: { type: String, required: true, default: '', },
},);

const computedClasses = computed(() => ({
  active: route.hash === props.to,
}),);
</script>

<style>
.active .nav-indicator {
  @apply w-16 bg-slate-200;
}

.active .nav-text {
  @apply text-slate-200;
}
</style>
