<template>
  <section
    id="projects"
    class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  >
    <div
      class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
    >
      <h2
        class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only"
      >
        Projects
      </h2>
    </div>
    <div>
      <ul class="group/list">
        <li
          v-for="content in contents"
          :key="content.title"
          class="mb-12"
        >
          <div
            class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
          >
            <div
              class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
            />
            <div class="z-10 sm:order-2 sm:col-span-6">
              <h3>
                <NuxtLink
                  :href="content.link"
                  aria-label="Visit project"
                  class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                  target="_blank"
                >
                  <span
                    class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                  />
                  <span class="inline-flex">
                    {{ content.title }}

                    <span
                      class="i-mdi-arrow-top-right self-end inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                    />
                  </span>
                </NuxtLink>
              </h3>
              <p class="mt-2 text-sm leading-normal">
                {{ content.description }}
              </p>
              <ul class="mt-2 flex flex-wrap">
                <li
                  v-for="tech in content.techStack"
                  :key="tech"
                  class="mr-1.5 mt-2"
                >
                  <div
                    class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                  >
                    {{ tech }}
                  </div>
                </li>
              </ul>
            </div>
            <NuxtLink
              :href="content.link"
              target="_blank"
            >
              <NuxtPicture
                :img-attrs="{
                  class: 'rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1',
                }"
                :width="content.imageWidth"
                :height="content.imageHeight"
                class="sm:col-span-2 sm:translate-y-1"
                format="avif,webp"
                loading="lazy"
                decoding="async"
                :src="`/images/${content.image}`"
                :alt="content.title"
              />
            </NuxtLink>
          </div>
        </li>
      </ul>
    </div>
  </section>
</template>

<script lang="ts" setup>
const contents = [
  {
    title: 'My Baymac',
    description:
            'Founded by pilots, aviation professionals, and expats, Baymac specialises in solving the unique challenges global citizens face as they work, live, and travel.',
    image: 'my.baymac.net.webp',
    imageWidth: 1920,
    imageHeight: 869,
    link: 'https://my.baymac.net',
    techStack: ['Vue.js', 'Nuxt.js', 'Bootstrap', 'BootstrapVue', 'AWS',],
  },
  {
    title: 'Goffah Global',
    description:
            'Goffah Global is a global marketplace for the sale of goods and services in the caribbean.',
    image: 'goffahglobal.com.webp',
    imageWidth: 1910,
    imageHeight: 1449,
    link: 'https://www.goffahglobal.com',
    techStack: ['Vue', 'VueStorefront', 'Kibana/Elasticsearch', 'AWS',],
  },
  {
    title: 'Geek2Door',
    description:
            'Match interns to internships and vice-versa all with one simple click.',
    image: 'geek2door.rmtech.tk.webp',
    imageWidth: 1338,
    imageHeight: 681,
    link: 'https://geek2-door-frontend.vercel.app/',
    techStack: ['Vue', 'Nuxt.js', 'Buefy', 'Flask', 'Python', 'PostgreSQL',],
  },
  {
    title: 'Country Quiz',
    description:
            'A simple quiz app that tests your knowledge of countries.',
    image: 'quizzapp.rmtech.tk.webp',
    imageWidth: 1338,
    imageHeight: 681,
    link: 'https://cntry-quizz.netlify.app/',
    techStack: ['Vue', 'TailWindCSS', 'Country API', 'PWA',],
  },
  {
    title: 'Weather App',
    description:
            'A simple weather app that shows the current weather of a city.',
    image: 'weather.rmtech.tk.webp',
    imageWidth: 1367,
    imageHeight: 981,
    link: 'https://weather-app-vite-vue3.vercel.app/',
    techStack: [
      'Vue',
      'Vite',
      'TailWindCSS',
      'OpenWeatherMap API',
      'PWA',
      'Maps Geocoding API',
    ],
  },
];
</script>

<style></style>
