<template>
  <NuxtLink
    class="block hover:text-slate-200 text-slate-400"
    :href="data?.href"
    target="_blank"
    :title="data?.name"
  >
    <span class="sr-only">{{ data?.name }}</span>
    <span
      class="h-6 w-6"
      :class="` ${data?.icon ? iconVariants[data?.icon]: ''}`"
    />
  </NuxtLink>
</template>

<script lang="ts" setup>
interface SocialMediaLink {
  name: string;
  icon: string;
  href: string;
}
defineProps({
  data: Object as PropType<SocialMediaLink>,
},);

const iconVariants = {
  github: 'i-mdi-github',
  gitlab: 'i-mdi-gitlab',
  linkedin: 'i-mdi-linkedin',
};
</script>

<style></style>
