<script setup lang="ts">
import { SpeedInsights, } from '@vercel/speed-insights/nuxt';
</script>

<template>
  <div>
    <SpeedInsights />
    <AppHeader />
    <main
      id="content"
      class="pt-24 lg:w-1/2 lg:py-24"
    >
      <AboutSection />
      <ExperienceSection />
      <ProjectsSection />
    </main>
  </div>
</template>
